SetEnv EVENT_PLANNER_DEVELOPMENT 1
SetEnv NO_LOCAL_DB 1

RewriteEngine on

RewriteCond %{REQUEST_URI} !/router\.php [NC]
RewriteCond %{REQUEST_URI} \.php [NC]
RewriteRule ^(.*)$ /router.php?_file=$1 [QSA,L]
